:root {
  --primary-color: #f09ae8;
  --body-font: "Secular One", sans-serif;

}

.body {
  font-family: "Secular One", sans-serif;
}

.container {
  max-width: 700px;
  
}

.degrees {
  position: relative;
  bottom: 150px;
  left: 90px;
  font-size: 60px;
  font-family: var(--body-font);
}

.deg-celsius {
  position: relative;
  bottom: 190px;
  left: 90px;
  font-size: 20px;
    font-family: var(--body-font);
}

.today {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  padding: 10px;
    font-family: var(--body-font);
}

.todays-weather-description {
  position: relative;
  bottom: 120px;
  right: -9px;
  font-size: 20px;
   text-transform: capitalize;
    font-family: var(--body-font);
  
}

canvas {
  position:relative;
  bottom: 70px;
  right: -10px;
  
 
}



ul.features {
  list-style: none;
  position: relative;

  left: 300px;
  font-size: 17px;
   font-family: var(--body-font);
}

#temp {
  list-style: none;
  display: inline-block;
  font-size: 20px;
   font-family: var(--body-font);
  padding: 0 0 5px;
  
}

.form-control {
  width: 500px;
  max-width: 200%;
  font-size: 20px;
}

.link {
  color: var(--primary-color);
    font-family: var(--body-font);
  padding-left: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
 border: solid 5px;
  border-color: var(--primary-color);
  border-radius: 50px;
}

.btn-1 {
  position: relative;
  left: 0px;
  top: 10px;
  background: var(--primary-color);
  border-color: var(--primary-color);
  padding: 10px;
  width: 150px;
  box-shadow: 3px 4px 0 #4141416d;
  border-radius: 5px;
   font-family: var(--body-font);
}

.card-body {
 border: none;
  
}

.city {
  font-size: 40px;
   font-family: var(--body-font);
  text-align: right;
  padding: 20px;
  left: 300px;

}
.weather-forecast {
  position: relative;
  bottom: 50px;
  margin-top: -30px;
  text-align: center;
   font-family: var(--body-font);
  
}

#forecast-icon {
 position: relative; 
 bottom: -50px;
  width: 60px;
  
 
}


.forecast-dates {
  position: relative;
  bottom: 40px;
  color:black;
  text-shadow: 0.3px 0.3px 0 #020202;
  
}

.forecast-temp-min {
  color: var(--primary-color);
  font-size: smaller;
  text-shadow: 0.3px 0.3px 0 #020202;
}

.forecast-temp-max {
  font-size: smaller;
  
}

.col-2 {
  font-size: 20px;
  text-align: center;
}
